.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/036/044/574/non_2x/ai-generated-vintage-wedding-artwork-for-your-exhibition-free-photo.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  .signin-form {
    background-color: rgba(255, 255, 255, 0); /* Lightly transparent white background for form */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
  }
  
  .signin-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  .signin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Adjusted margin for spacing between input fields */
    box-sizing: border-box;
    border: 2px solid #050806; /* Green border color for inputs */
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .signin-form button {
    width: 100%;
    padding: 12px;
    background-color: #060906;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.2rem;
  }
  
  .signin-form button:hover {
    background-color: #060b07;
  }
  